<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="directive,directive" />
<title>UM框架</title>
<meta name="keywords" content="Der Welthandel, Hersteller, Lieferanten, Exporteure, Importeure, Produktkatalog, Gesch?ftsinformationen, Informationen über die Exposition">
 <link rel="stylesheet" type="text/css" href="/U/UI/css/bootstrap.min.css" />
 <link rel="stylesheet" type="text/css" href="/U/UI/css/bootstrap-responsive.css"/>
 <link rel="stylesheet" type="text/css" href="/U/UI/css/style.css" />
 <script type="text/javascript" src="/U/UI/js/jquery.js"></script>  
 <script type="text/javascript" src="/U/UI/js/bootstrap.js"></script> 
</head>

<body>
	<table class="table table-bordered table-hover definewidth m10">
		
		<h1>&nbsp;&nbsp;Welcome to Index</h1>
		
 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="buy">商品模块</a>  |  <a href="member">会员模块</a> |  <a href="manage">管理员模块</a> |<a href="admin">权限管理</a>
	
	
	
	
	
	<{section name=sec loop=$user}>	 	  
	<td class="tableleft">
	 	<{$user[sec].id}>
	</td>
	<{/section}>
	
	

	
	
	<{section name=sec loop=$role}>	  
	<td class="tableleft">
	<{$role[sec].name}>
	</td>
	<{/section}>
	<br/>
	

 </table>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<{include file =./Share/inc-page-jump.html}>
</body>
</html> 