<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="directive,directive" />
<title>Deutsch Hersteller, der Lieferanten und der Exporteure und Importeure von Gesch?ftsfreunden</title>
<meta name="keywords" content="Der Welthandel, Hersteller, Lieferanten, Exporteure, Importeure, Produktkatalog, Gesch?ftsinformationen, Informationen ¨¹ber die Exposition">
<link href="<{$_url_ui}>/css/de/style.css" type="text/css" rel="stylesheet" media="screen">
<script src="<{$_url_ui}>/js/elements.js"></script>
<script src="<{$_url_ui}>/js/jquery163.js"></script>
<!--[if lt IE 9]>
<script src="<{$_url_ui}>/js/IE9.js"></script>
<![endif]-->
</head>

<body>
	 <{section name=sec loop=$user}>
	  
	 <td>
	 	<{$user[sec].id}>
	</td>
	<{/section}>
	<br/>
  <{include file =./Share/inc-page-jump.html}>
</body>
</html> 