<div style="float:left;width:10%;border-right:1px solid #EEEEEE">
<dl>
  <dt>&nbsp;&nbsp;功能授权</dt>

  <dd id="menu_main">
    <a href="index.php?_d=<{$_d}>&_a=main">管理中心</a>
  </dd>

  <dd id="menu_groups">
    <a href="index.php?_d=<{$_d}>&_a=groups">会员组列表</a>
  </dd>

  <dd id="menu_members">
    <a href="index.php?_d=<{$_d}>&_a=members">会员列表</a>
  </dd>

  <dd id="menu_types">
    <a href="index.php?_d=<{$_d}>&_a=types">功能组列表</a>
  </dd>

  <dd id="menu_actions">
    <a href="index.php?_d=<{$_d}>&_a=actions">功能列表</a>
  </dd>
</dl>
</div>

<script>

  $(function() {
    var action = '<{$_a}>';
    if (action != '')
      $('#menu_' + action).addClass('active');
  });

</script>
