<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>My Toocle&nbsp;&nbsp;<{$_login_user_id}>&nbsp;&nbsp;</title>
<link rel="stylesheet" type="text/css" media="all" href="<{$_url_ui}>/css/de/all2.css" />
<link href="<{$_url_ui}>/css/member/member.css" type="text/css" rel="stylesheet">
<link href="<{$_url_ui}>/css/de/member.css" type="text/css" rel="stylesheet">
<script src="<{$_url_ui}>/js/member/default.js" type="text/javascript" language="javascript"></script>
</head>


<body>
<div class="container">
<{$Header_new}>
<div class="main">
<{$Main_menu_text_new}>

    <div class="content">  
      <div class="block">
        <h4>Accueil</h4>
        <div class="message">
          </div>
      </div><!--block-->
    </div><!--content-->
  </div><!--wrapper-->

  <div class="footer">
  	<div id="footer">
    <{$Footer_new}>
  </div>
  </div>
</body>

<script>
  $(function() {
  });
</script>

</html>



